# Mail api settings we use Gmail as an example
MAIL_CLIENT_ID =
MAIL_CLIENT_PASSWORD =
MAIL_SERVICE =

# Google API
GOOGLE_PROJECT_ID =
GOOGLE_BUCKET_NAME =
GOOGLE_UPLOAD_FOLDER =
GOOGLE_CREDENTIALS_BASE64 =

# Google Analytics
NEXT_PUBLIC_GA_ID =

# Recipient Email Address
REACT_APP_RECEPIENT_EMAIL = contact@mermer.com.tw

# iSunFA Info
I_SUN_FA_ADDRESS_IN_ENGLISH = 14 F., No. 521, Sec. 4, Xinyi Rd., Xinyi Dist., Taipei City 110053, Taiwan
I_SUN_FA_ADDRESS_IN_CHINESE = 110053 臺北市信義區忠孝東路四段 521 號 14 樓
I_SUN_FA_ADDRESS_ON_GOOGLE_MAP = https://maps.app.goo.gl/u7cbstA8q7XbMaDK6
I_SUN_FA_PHONE_NUMBER = +886-2-2700-1979

# Social Media Links
REACT_APP_GITHUB_LINK = https://github.com/CAFECA-IO
REACT_APP_FACEBOOK_LINK = https://www.facebook.com/profile.php?id=61555435381112
REACT_APP_YOUTUBE_LINK = https://www.youtube.com/@isunfa

# AICH
AICH_URI =

# Database
DATABASE_URL = postgresql://account@localhost:5432/database

# File storage path
BASE_STORAGE_PATH =

# Payment service settings we use OEN as an example
PAYMENT_TOKEN =
PAYMENT_ID =
PAYMENT_SERVICE =

# OAuth 2.0 for apple login and google login
GOOGLE_CLIENT_ID = google-client-id
GOOGLE_CLIENT_SECRET = google-client-secret

APPLE_CLIENT_ID = com.company.app
APPLE_KEY_ID = apple-key-id
APPLE_TEAM_ID = apple-team-id
APPLE_PRIVATE_KEY = apple-private-key
APPLE_TOKEN_EXPIRY = 3600
APPLE_REDIRECT_URI =

NEXT_PUBLIC_APPLE_CLIENT_ID =
NEXT_PUBLIC_APPLE_REDIRECT_URI =

NEXTAUTH_URL = https://isunfa.com/
NEXTAUTH_SECRET = generated-random-secret

NEXT_PUBLIC_PUSHER_KEY =
NEXT_PUBLIC_PUSHER_HOST =
NEXT_PUBLIC_PUSHER_PORT =
NEXT_PUBLIC_PUSHER_CLUSTER =
NEXT_PUBLIC_PUSHER_USE_TLS =

PUSHER_APP_ID =
PUSHER_SECRET =
PUSHER_USE_TLS =

NEXT_PUBLIC_DOMAIN =

ENABLE_MAINTENANCE_SCRIPTS = 

BAIFS_CERT =
