@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    Roboto,
    BlinkMacSystemFont,
    Segoe UI,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  scroll-behavior: smooth;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div::-webkit-scrollbar {
  display: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h6 {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.hollowYellow {
  -webkit-text-stroke: 1px #ffa502;
  color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-print-color-adjust: exact !important;
}

.noPrint {
  display: none;
}

.customGradient {
  background: radial-gradient(
    71.04% 80.27% at 28.64% 85.83%,
    #ffa502 0%,
    #f49e01 1%,
    #c17d01 9%,
    #935f01 17%,
    #6b4500 26%,
    #4a3000 34%,
    #2f1e00 44%,
    #1a1000 54%,
    #0b0700 65%,
    #020100 79%,
    #000000 100%
  );
  background-blend-mode: color-dodge;
}

.customRadialGradient {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 24, 64, 0.7) 0%, rgba(0, 24, 64, 0) 100%);
}

/* Custom bottom shadow */
.bottomShadow {
  @apply shadow-lg;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .fixed-top-right {
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
  }
}

@page {
  size: 595px 842px;
  margin: 0cm;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
